@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");



.App{
  background-color: #221f1f;
  min-height: 100vh;
}

.App-header {
  background-color: #221f1f;

}

.imm {
  height: 240px;
  margin-bottom: 2em;
}






.carousel-item {
  height: 300px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  width: 100%;
}

.carousel-caption h3 {
  color: white;
}

#prova{
  margin-right: 2em !important;
}